@model IEnumerable<MVC_Officer_Mission.Models.OfficerRoleInMission>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AjaxLayout.cshtml";
}


<div class="">
    <table class="table officerPopupData">
        <thead>
            <tr>
                <th>م</th>
                <th>الضباط</th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}
            @foreach (var ORIM in Model)
            {

                <tr>
                    <td>-@i-</td>
                    <td>
                        <text class="OfficerItemWithRole">@ORIM.Officer.FullName - @ORIM.OfficerRole</text> 
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

</div>

